<div class="container mt-5">
  <h3 class="text-center mb-4">Faculty Details</h3>
  <table class="table table-bordered table-striped table-hover">
    <thead class="table-dark">
      <tr>
        <th>ID</th>
        <th>Faculty</th>
        <th>Name</th>
        <th>Department</th>
        <th>University</th>
        <th>City</th>
        <th>State</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let f of facultyList">
        <td>{{f.id}}</td>
        <td>{{f.faculty}}</td>
        <td>{{f.name}}</td>
        <td>{{f.department}}</td>
        <td>{{f.university}}</td>
        <td>{{f.city}}</td>
        <td>{{f.state}}</td>
      </tr>
    </tbody>
  </table>
</div>
